@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    color: white;
    background-color: #0b111d;
    justify-content: center;
    padding: 17px;
    font-family: "Kanit", sans-serif;
}
.Lside_bar {
    padding: 10px;
    background-color: #202c3c;
    font-size: 12px;
    color: grey;
    border-radius: 10px;
    text-align: center;
}
.wind_logo > img {
    background-color: #3b4b60;
    border-radius: 13px;
    height: 40px;
    width: 40px;
    padding: 4px;
}
.weather-icon_sect {
    margin-top: 30px;
}
.city-list_sect, .map_sect {
    margin: 15px 0;
}
img {
    width: 20px;
    height: 20px;
    color: white;
}
.main_bar {
    margin: 0 20px;
    /* width: 300px; */
}
.search_sect > input {
    border-radius: 5px;
    width: 91%;
    background-color: #202c3c;
    border: none;
    padding: 7px;
    color: white;
    margin-bottom: 10px;
}
.search_sect > button {
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    cursor: pointer;
    margin-left: 5px;
    background-color: #3b4b60;
    color: gray;
}
.weather_content_sect {
    display: flex;
    width: 700px;
    margin: 0 auto;
    justify-content: space-between;
}
.weather-display {
    width:fit-content;
    height: 200px;
    margin-bottom: 10px;
}
.city_name {
    font-size: 32px;
}
.rain-percentage {
    font-size: 13px;
    color: rgba(240, 255, 255, 0.336);
    margin-left: 7px;
    margin-bottom: 40px;
}
.temp_display {
    font-size: 43px;
    font-weight: 500;
}
.today_forecast_sect {
    background-color: #202c3c;
    color: grey;
    padding: 18px;
    border-radius: 13px;
}
.flex_forecast {
    width:max-content;
    justify-content: space-between;
    font-size: 38px;
    /* border: 3px solid red; */
    text-align: center;
    display: flex;
    margin: 10px 0 0 13px;
}
.flex_forecast > div > h2 {
    color: rgba(255, 255, 255, 0.774);
    font-weight: 600;
    font-size: 16px;
}
.flex_forecast > div > img {
    width: fit-content;
    height: 80px;
}
.block2, .block3, .block4, .block5 {
    padding: 0 1rem;
    border-right: 1px solid rgba(128, 128, 128, 0.289);
}
.block1 {
    padding: 0 1rem 0 0;
    border-right: 1px solid rgba(128, 128, 128, 0.289);
}
.block6 {
    padding-left: 1rem;
}
.air_condition_sect {
    color: grey;
    margin-top: 10px;
    padding: 18px;
    background-color: #202c3c;
    border-radius: 13px;
    /* display: flex; */
}
.containDflex {
    display: flex;
}
.dFlex {
    display: flex;
}
.dFlex > div > p, span {
    margin-left: 5px;
}
.dFlex > div > span {
    font-weight: 600;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.747);
}
.air_condition_flex1 {
    margin-right: 13rem;
}
.Rside_bar {
    min-width: 400px;
    width: 10%;
    background-color: #202c3c;
    color: grey;
    border-radius: 13px;
    margin-top: 3rem;
    padding: 18px;
}
.week_sect {
    display: flex;
    /* flex-wrap: wrap; */
    /* gap: 10px; */
    /* align-items: center; */
    /* text-align: right; */
    /* padding: 7px; */
    border-bottom: 1px solid rgba(128, 128, 128, 0.289);
    /* border: 3px solid pink; */
}
.day {
    width: 30%;
    text-align: left;
    /* border: 3px solid red; */
    align-items: flex-end;
    justify-content: end;
    /* margin: 0 5rem 2rem 0; */
}
.day_temp {
    text-align: right;
    /* border: 3px solid green; */
    width: 30%;
}
.innerDiv {
    width: 30%;
    justify-content: space-between;
    /* border: 3px solid white; */
    /* margin: 0 5rem; */
}

@media screen {
    
}